.contain{
    position: relative;
    display: flex;
  z-index: 1;
    justify-content:space-between;
}
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: white;
   margin-left: 40px;
   font-weight: 600;
   margin-top: 5px;
   letter-spacing: 3px;
   
}
.span{
    color: rgb(103, 160, 182);
    font-style: oblique;
}
.container{
    border-bottom-left-radius:50px ;
    font-weight: 600;
   background-color: white;
    justify-content: space-evenly;
    display: flex;
    gap:20px;
   

   
   padding: 20px;
   width: 600px;
}